name: Unit-Test
on: push
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "14"

      - name: Install Dependencies
        run: npm install
      
      - name: Build
        run: npm run build

      - name: Run the tests
        run: npm run unit-test:cli